<div class="flex column full p-10" ng-controller="ThingController">
	<div class="flex column flex-horizontal-center" ng-controller="CrudThingController">
		<div class="container-form">
			<h1 class="page-title">
				{{text}}
			</h1>
			<form class="form">
				<div class="form-control">
					<label for="name">Name:</label>
					<input ng-model="$parent.model.name" name="name" type="text" required>
				</div>
				<div class="form-control">
					<label for="unit">Unit</label>
					<input ng-model="$parent.model.unit" name="unit" type="text" required>
				</div>
				<div class="form-control">
					<label for="unit">Coordinates (Longitude x Latitude)</label>
					<div class="flex">
						<input ng-model="$parent.model.coordinates.long" name="long" type="text" class="m-r-5">
						<input ng-model="$parent.model.coordinates.lat" name="lat" type="text" class="m-l-5">
					</div>
				</div>
				<div class="form-control">
					<label></label>
					<div>
						<button class="btn btn-primary" ng-click="save();">
							<span class="fa fa-save"></span>
							Save
						</button>
						<button type="button" class="btn btn-secondary" ng-click="cancel()">
							<span class="fa fa-ban"></span>
							Cancel
						</button>
					</div>
				</div>
			</form>
		</div>
		<div class="container-table">
			<table class="table">
				<thead>
					<tr>
						<th>Name</th>
						<th>Unit</th>
						<th>Creation Time</th>
						<th>Coordinates</th>
						<th>Last Trasmission</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="t in things track by t._id">
						<td>{{t.name}}</td>
						<td>{{t.unit}}</td>
						<td>{{t.createTime}}</td>
						<td>{{t.coordinates ? "long:"+t.coordinates.long + " x lat:" + t.coordinates.lat :  ' - '}}</td>
						<td>{{t.lastTransmission ? t.lastTransmission : ' - '}}</td>
						<td>
							
							<button class="btn btn-primary" ng-click="edit(t)">
								<span class="fa fa-pencil"></span>
							</button>

							<button class="btn btn-danger" ng-click="remove(t)">
								<span class="fa fa-trash"></span>
							</button>

						</td>
					</tr>
				</tbody>
			</table>
			<div class="pagination" ng-if="things.length>0">
				<button class="btn" ng-disabled="page===1" ng-click="backward()">
					<span class="fa fa-arrow-left"></span>
				</button>
				<button class="btn" ng-disabled="page===totalPage" ng-click="forward()">
					<span class="fa fa-arrow-right"></span>
				</button>
			</div>
		</div>
	</div>
</div>